body{
    max-width: 100vw;/*responsivo usando 100% do espaço no celular ou computador*/
}
header {
    background-color: rgb(57, 14, 95);
    color: red;
    text-align: center;
    /*max-width: 800px*/;
    margin: 0, auto;
    padding: 16px;
    border: 5px solid red;
}

article {
    display: flex;
    border: 1px solid red;

    margin: 16px; /*espaçamento externo*/
    gap: 16px; /*espaçamento entre os elementos*/
    padding: 16px; /*espaçamento interno*/

    flex: 1 1 25%; /* primeiro parâmetro - aumento; segundo parâmetro o quando vai diinuir; terceiro o ajuste para a tela*/
}

main {
    background-color: rgb(203, 244, 247);
    color: black;
    /*max-width: 800px;*/
    margin: 0, auto;
    display: flex;/* adaptar ao espaço*/
    flex-wrap: wrap; /*quebra de linha*/
}

img {
    width: 120px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}